*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    font-family: sans-serif;
}

.nav-bar{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 1280px;
    height: 80px;
    margin: 10px auto;
    padding: 0px 20px;
    border-radius: 10px;
}

.nav-bar .logo{
    font-size: larger;
    font-weight: bolder;
    color: green;
    cursor: pointer;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    color: green;
    cursor: pointer;
    padding: 10px;
}

.nav-links li a:hover{
    border-bottom: 1px solid green;
    
}
.nav-links .link-active{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 1px solid green;
}

.nav-links .link-active:hover{
    background-color: white;
    color: green;
}